body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}
ul,ol{list-style:none;}
em { font-style: normal; }
dt { font-weight: normal; }

/* HTML5 重置为较旧版本的浏览器 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
blockquote, q{ quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse: collapse; border-spacing: 0; }
.adv { margin-top: 0px; padding-top: 0px;}

/* 按钮样式 */
input, button, textarea, select { outline:none; resize:none}
input[type="button"]{cursor:pointer; border:0}
input[type="submit"]{cursor:pointer; border:0}
input[type="reset"]{cursor:pointer; border:0}

/*删除火狐下按钮默认样式*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{ border:none; padding:0; }

/*浮动*/
.fl { float: left !important;}
.fr { float: right !important;}
.clear{display:block;height:0;overflow:hidden;clear:both;}
.clearfix:after{content:'\20';display:block;height:0;clear:both;}
.clearfix{zoom:1;}html{overflow-y:scroll;}

/*a 链接*/
a { text-decoration:none; color:#333; outline:none; blr:expression(this.onFocus=this.blur()); }
a:link { color:#666; }
a:visited { color:#666; }
a:hover, a:active, a:focus {color:#f30; text-decoration:none; }

/*图片居中*/
.middle { display:table-cell; *display:block; overflow:hidden; font:0px/0px 'Arial'; text-align:center; vertical-align:middle;}
fieldset, img { border:0; vertical-align:middle}

/*常量*/
.hide{display:none !important; }
.show{display:block !important; }
.invisible{visibility:hidden;}
.noBg{background:none !important;}
.noBd{border:none !important;}
.noMargin{margin:0 !important;}
.noPadding{padding:0 !important;}

/* common */
body { overflow-x:hidden; -webkit-text-size-adjust:none; font-family: Microsoft YaHei,Arial; color:#333; font-size:12px; background:#f0ffff; text-align:center; }
.wrap { position:relative; width: 1000px; margin:0 auto; }

.header{ background:#e9e9e9; border-top:3px solid #000; }
.topArea{ height:82px; }
.logo{ width:200px; height:60px; margin-top:8px; }
.sets{ height:70px; width:700px; text-align:right; }
.sets .set1{ height:18px; margin-top:5px; padding-right:18px; line-height:15px; color:#000; }
.sets .set1 span{ padding-left:60px; } 
.sets .set1 a{ color:#000; }
.sets .search{ height:20px; margin-top:23px; color:#2c2c2c; font-size:13px; line-height:20px; padding-right:20px; }
.sets .search input{ border:1px solid #999999; }
.searchgo{ background:#8b0000; color:#fff; padding:2px 5px; }

.nav{ height:30px; background:#8b0000; }
.nav ul{ line-height:30px; }
.nav ul li{ float:left; color:#fff; }
.nav ul li a{ color:#fff; padding:0 20px; }

.footer{ background:#e9e9e9; }
.fnav{ height:20px; border-bottom:1px solid #800; padding-top:10px; margin-top:3px; }
.fnav ul{ display:inline-block; }
.fnav ul li{ float:left; }
.fnav ul li a{ padding:0 3px; color:#333; }
.ftext{ padding:10px 0; line-height:20px; }