.container{ line-height:18px; background:#fff; }

.main{ width:800px; float:left; border:1px solid #d3d3d3; }
.main .hd{ padding-left:12px; font-size:13px; font-weight:bold; height:30px; text-align:left; line-height:30px; color:#900; border-bottom:1px solid #8b0000; }
.main .hd a{ color:#900; }
.main .bd{ text-align:left; padding:3px; line-height:18px; font-size:13px; }
.main .bd h1{ height:25px; line-height:25px; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px dashed #666666; margin-top:5px; margin-bottom:2px; }
.main .bd .content{ width:99%; text-align:left; padding:3px; line-height:18px; font-size:13px; margin:0px; }

.hits{ height:20px; text-align:right; padding:3px; margin-top:3px; border-top:1px dashed #666666; }
.hits a{ color:#006; }

.rnav{ width:192px; float:right; border:1px solid #d3d3d3; }
.rnav .hd{ padding-left:12px; font-size:13px; font-weight:bold; height:30px; text-align:left; line-height:30px; color:#900; border-bottom:1px solid #8b0000; }
.rnav .bd{ width:142px; line-height:25px; text-align:left; padding-left:50px; }
.rnav .bd ul{}
.rnav .bd ul li{ list-style-type:disc; }
.rnav .bd ul li a{ color:#333; }

.newslist{}
.newslist ul{}
.newslist ul li{ height:25px; line-height:25px; border-bottom:1px solid #d9d9d9; }
.newslist ul li .pic{ display:inline-block; margin-left:3px; padding-top:3px; }
.newslist ul li font{ color:#f30; }
.newslist ul li a{ color:#2f2f2f; }

.newslist h4{ height:25px; line-height:25px; color:#990000; background-color:#F0F0F0; }

.product_list{}
.product_list ul{}
.product_list ul li{ margin-left:3px; line-height:22px; border-bottom:1px dashed #666; padding-bottom:5px; }
.product_list ul li .pic{ width:200px; margin:5px; text-align:center; }
.product_list ul li .info{ width:560px; }
.product_list ul li .info .tit{ height:25px; font-weight:bold; }
.product_list ul li .info .para{  }
.product_list ul li .info .more{ height:25px; text-align:right; padding-right:6px; }
.product_list ul li .info .more a{ color:#900; }
.product_list ul li a{ color:#006; }

.img_list{}
.img_list ul{ padding:20px 0; }
.img_list ul li{ float:left; width:33%; text-align:center; }
.img_list ul li .tit{ line-height:30px; }
.img_list ul li .tit a{ color:#006; }

.joblist{}
.joblist ul{}
.joblist ul li{ border-bottom:1px solid #d9d9d9; line-height:25px; height:25px; }
.joblist ul li .info{ }
.joblist ul li .info a{ font-weight:bold; color:#2f2f2f; }
.joblist ul li .info .position{ display:inline-block; width:150px; }
.joblist ul li .info .count{ display:inline-block; width:100px; }
.joblist ul li .info .date{ display:inline-block; width:150px; }
.joblist ul li .detail{ text-align:right; padding-right:6px; }
.joblist ul li .detail a{ color:#c00; }

.feedback{}
.feedback table{ width:97%; margin:0 auto; }
.feedback table td{ height:25px; line-height:25px; font-size:12px; color:#333; }
.feedback table .t{ text-align:right;  }
.feedback table .t span{ padding-right:9px; }
.feedback table td{ border:1px solid #ccc; padding:2px 5px; }
.feedback table td.must{ color:#900; }
.feedback table td.tj{ text-align:center; }
.feedback table td.tj input{ background:#ededed; color:#900; border:0px; }

.link_apply{ line-height:28px; padding:0 5px; text-align:right; }
.link_apply a{ color:#f00; font-weight:bold; }
.link_img{ padding:10px 5px; }
.link_img h4{ line-height:28px; }
.link_text{ padding:10px 5px; }
.link_text h4{ line-height:28px; }

.product_detail{  }
.product_detail .tit{ height:25px; line-height:25px; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px dashed #666666; margin-top:5px; margin-bottom:2px; }
.product_detail .pic{ width:200px; margin:5px; }
.product_detail .para{ width:560px; line-height:25px; }
.product_detail .para a{ color:#900; }
.product_detail .info{ margin-left:3px; line-height:22px; border-bottom:1px dashed #666666; padding-bottom:5px; margin-bottom:10px; }

.download_list{ padding:2px 3px; }
.download_list ul li{ border-bottom:1px dashed #999999; }
.download_list .tit{ height:25px; line-height:25px; font-weight:bold; }
.download_list .tit a{ color:#006; }
.download_list .detail{ height:25px; line-height:25px; background:#F2F2F2; padding-right:20px; }
.download_list .detail span{ padding-right:20px; }
.download_list .detail a{ color:#c30; }

.download_detail .tit{ padding-bottom:3px; height:25px; line-height:25px; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px dashed #666666; margin-top:5px; margin-bottom:2px; }
.download_detail .info{border-bottom:1px dashed #999; line-height:25px; padding-left:2px; }
.download_detail .info a{ color:#c00; display:inline-block; padding:10px 10px 0; }

.img_detail{  }
.img_detail .tit{ height:25px; padding-bottom:3px; line-height:25px; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px dashed #666666; margin-top:5px; margin-bottom:2px; }
.img_detail .info{}
.img_detail .info .pic{ padding:12px 20px; }


.pages{ text-align:center; }
.pages .tj{ color:#900; background:#ededed; }