.login{ width:500px; height:245px; background:#036; border:1px soild #036; margin:150px auto auto; }
.login .hd{ height:45px; border-bottom:1px solid #ededed; line-height:45px; font-size:14px; color:#fff; font-weight:bold; }
.login .bd{ width:290px; height:209px; float:right; }
.login .bd .tit{ height:50px; font-weight:bold; color:#fff; line-height:50px; margin-top:20px; }
.login .bd table{}
.login .bd table tr{}
.login .bd table tr td{ color:#ccc; line-height:30px; text-align:left; }
.login .bd table tr td.sub{}
.login .bd table tr td.sub a{ color:#fff; }
.login .bd table tr td.sub input{ padding:0 5px; }

.lefttree{ width:180px; }
.lefttree .hd{ border:1px solid #036; height:25px; line-height:25px; }
.lefttree .hd a{ color:#036; font-weight:bold; }
.lefttree .bd{ border:1px solid #036; }
.lefttree .bd ul{}
.lefttree .bd ul li{ line-height:25px; }
.lefttree .bd ul li .first{ font-weight:bold; color:#036; cursor:pointer; background:url(../images/menudown.gif) no-repeat; }
.lefttree .bd ul li .first:hover{ color:#f60; }
.lefttree .bd ul li dl.sub{ padding-bottom:10px; }
.lefttree .bd ul li dl.sub dt{ text-align:left; padding-left:24px; line-height:23px; }
.lefttree .bd ul li dl.sub dt a{ color:#036; }
.lefttree .lcontact{ line-height:25px; border:1px solid #036; border-top:none; padding:5px 0; }
.lefttree .lcontact a{ color:#036; }

.maintable{ width:100%; }

.sysinfo{ padding:1px 20px 0; border:1px solid #036; margin-left:8px; min-height:500px; }
.sysinfo .hd{ background:#999; font-size:13px; height:25px; line-height:25px; }
.sysinfo .bd{}
.sysinfo .bd tr{}
.sysinfo .bd tr td{  }
.sysinfo .bd tr td.detail{ text-align:left; padding-left:30px; }

.admin_manage{  }
.admin_manage .hd{  }
.admin_manage .bd{}
.admin_manage .bd .set_search{ height:30px; }
.admin_manage .bd .set_search .add{ line-height:30px; color:#f00; font-weight:bold; float:left; }
.admin_manage .bd .set_search form{ line-height:30px; }
.admin_manage .bd .set_search form .tj{ padding:0 6px; border:1px solid #036; }
.admin_manage .bd table{ width:100%; border:1px solid #036; }
.admin_manage .bd tr{}
.admin_manage .bd .th{ background:#999; color:#036; }
.admin_manage .bd tr.th td{ border-right:1px solid #036; border-bottom:1px solid #036; line-height:25px; }
.admin_manage .bd td{ padding:0 8px; line-height:25px; border-right:1px solid #036; line-height:22px; }
.admin_manage .bd td a{ color:#036; }
.admin_manage .bd .del{ line-height:29px; text-align:left; }
.admin_manage .bd .del .tj{ padding:0 6px; border:1px solid #036; }

.admin_add{}
.admin_add .hd{}
.admin_add .bd{}
.admin_add .bd table{ }
.admin_add .bd table tr{ }
.admin_add .bd table tr td{ height:29px; line-height:29px; text-align:left; }
.admin_add .bd table tr td.sub{ text-align:center; }
.admin_add .bd table tr td .tj{ padding:0 6px; border:1px solid #036; }

.main{ padding:1px 20px 0; border:1px solid #036; margin-left:8px; min-height:500px; }
.main .hd{ background:#999; font-size:13px; height:25px; line-height:25px; }
.maintable .hd{}
.maintable .hd b{ color:#036; }

.page form{ text-align:center !important; }
.page .tj{ padding:0 3px; border:1px solid #036; }

.basic_set{}
.basic_set table{}
.basic_set tr{}
.basic_set td{ height:27px; line-height:27px; text-align:left; }
.basic_set td input{ padding:0 2px; }
.basic_set td .tj{ padding:0 6px; border:1px solid #036; }

.skin_set{}
.skin_set .mbgl{ color:#f00; font-weight:bold; }
.skin_set table{}
.skin_set tr{}
.skin_set td{ height:27px; line-height:27px; text-align:left; }
.skin_set td input{ padding:0 2px; }
.skin_set td .tj{ padding:0 6px; border:1px solid #036; }

.img_set{}
.img_set .mbgl{ color:#f00; font-weight:bold; }
.img_set table{}
.img_set tr{}
.img_set td{ height:27px; line-height:27px; text-align:left; }
.img_set td input{ padding:0 2px; }
.img_set td .tj{ padding:0 6px; border:1px solid #036; }

.column_manage .bd .add{}
.column_manage .bd .add a{ line-height:30px; color:#f00; font-weight:bold; float:left; }
.column_manage .bd form{ line-height:30px; }
.column_manage .bd form .tj{ padding:0 6px; border:1px solid #036; }
.column_manage .bd table{ width:100%; border:1px solid #036; }
.column_manage .bd tr{}
.column_manage .bd .th{ background:#999; color:#036; }
.column_manage .bd tr.th td{ border-right:1px solid #036; border-bottom:1px solid #036; line-height:25px; }
.column_manage .bd td{ padding:0 8px; line-height:25px; border-right:1px solid #036; line-height:22px; }
.column_manage .bd td.class1{ background:url(../images/tree_big.gif) no-repeat 2px 2px; text-align:left; padding-left:16px; }
.column_manage .bd td.class2{ background:url(../images/tree_small.gif) no-repeat 12px 2px; text-align:left; padding-left:16px; }
.column_manage .bd td.class3{ background:url(../images/tree_small.gif) no-repeat 27px 2px; text-align:left; padding-left:30px; }
.column_manage .bd td a{ color:#036; }
.column_manage .bd .del{ line-height:29px; text-align:left; }
.column_manage .bd .del .tj{ padding:0 6px; border:1px solid #036; }

.index_set{}
.index_set .mbgl{ color:#f00; font-weight:bold; }
.index_set table{ width:80%; }
.index_set tr{}
.index_set td{ height:27px; line-height:27px; text-align:left; }
.index_set td input{ padding:0 2px; }
.index_set td .tj{ padding:0 6px; border:1px solid #036; }

.seo_set{}
.seo_set .mbgl{ color:#f00; font-weight:bold; }
.main .en{ background:#999; font-size:13px; height:25px; line-height:25px; text-align:left; text-indent:2em; }
.seo_set table{}
.seo_set tr{}
.seo_set td{ height:27px; line-height:27px; text-align:left; }
.seo_set td input{ padding:0 2px; }
.seo_set td .tj{ padding:0 6px; border:1px solid #036; }

.fooer_set{}
.fooer_set .mbgl{ color:#f00; font-weight:bold; }
.main .en{ background:#999; font-size:13px; height:25px; line-height:25px; text-align:left; text-indent:2em; }
.fooer_set table{}
.fooer_set tr{}
.fooer_set td{ height:27px; line-height:27px; text-align:left; }
.fooer_set td input{ padding:0 2px; }
.fooer_set td .tj{ padding:0 6px; border:1px solid #036; }

.banner_set{}
.banner_set .mbgl{ color:#f00; font-weight:bold; }
.banner_set table{}
.banner_set tr{}
.banner_set td{ height:27px; line-height:27px; text-align:left; }
.banner_set td input{ padding:0 2px; }
.banner_set td .tj{ padding:0 6px; border:1px solid #036; }

.online_manage{  }
.online_manage .hd{  }
.online_manage .bd{}
.online_manage .bd .set_search{ height:30px; }
.online_manage .bd .set_search .add{ line-height:30px; color:#f00; font-weight:bold; float:left; }
.online_manage .bd form{ line-height:30px; text-align:left; }
.online_manage .bd form .tj{ padding:0 6px; border:1px solid #036; }
.online_manage .bd table{ width:100%; border:1px solid #036; }
.online_manage .bd tr{}
.online_manage .bd .th{ background:#999; color:#036; }
.online_manage .bd tr.th td{ border-right:1px solid #036; border-bottom:1px solid #036; line-height:25px; }
.online_manage .bd td{ padding:0 8px; line-height:25px; border-right:1px solid #036; line-height:22px; }
.online_manage .bd td a{ color:#036; }
.online_manage .bd .del{ line-height:29px; text-align:left; }
.online_manage .bd .del .tj{ padding:0 6px; border:1px solid #036; }

.product_parameter_set{}
.product_parameter_set table{ width:95%; }
.product_parameter_set tr{}
.product_parameter_set td{ height:27px; line-height:27px; text-align:center; }
.product_parameter_set td input{ padding:0 2px; }
.product_parameter_set td .tj{ padding:0 6px; border:1px solid #036; }

.database{}
.database .insert{ text-align:left; line-height:30px; }
.database .insert a{ color:#036; }
.database table{ width:95%; }
.database tr{}
.database td{ height:27px; line-height:27px; text-align:center; }
.database td input{ padding:0 2px; }
.database td .tj{ padding:0 6px; border:1px solid #036; }

.news_manage{  }
.news_manage .hd{  }
.news_manage .bd{}
.news_manage .bd .set_search{ height:30px; line-height:30px; text-align:left; background:#ff9; padding-left:8px; }
.news_manage .bd .set_search .add{ line-height:30px; color:#f00; font-weight:bold; float:left; }
.news_manage .bd .set_search form{ line-height:30px; }
.news_manage .bd .set_search form .tj{ padding:0 6px; border:1px solid #036; }
.news_manage .bd table{ width:100%; border:1px solid #036; }
.news_manage .bd tr{}
.news_manage .bd .th{ background:#999; color:#036; }
.news_manage .bd tr.th td{ border-right:1px solid #036; border-bottom:1px solid #036; line-height:25px; }
.news_manage .bd td{ padding:0 8px; line-height:25px; border-right:1px solid #036; line-height:22px; }
.news_manage .bd td a{ color:#036; }
.news_manage .bd .del{ line-height:29px; text-align:left; }
.news_manage .bd .del .tj{ padding:0 6px; border:1px solid #036; }

.fd_parameter_inc{  }
.fd_parameter_inc .hd{  }
.fd_parameter_inc .bd{}
.fd_parameter_inc .bd .set_search{ height:30px; }
.fd_parameter_inc .bd .set_search .add{ line-height:30px; color:#f00; font-weight:bold; float:left; }
.fd_parameter_inc .bd .set_search form{ line-height:30px; }
.fd_parameter_inc .bd .set_search form .tj{ padding:0 6px; border:1px solid #036; }
.fd_parameter_inc .bd table{ width:100%; }
.fd_parameter_inc .bd tr{}
.fd_parameter_inc .bd .th{ background:#999; color:#036; }
.fd_parameter_inc .bd tr.th td{ border-right:1px solid #036; border-bottom:1px solid #036; line-height:25px; }
.fd_parameter_inc .bd td{ padding:0 8px; line-height:25px; line-height:22px; }
.fd_parameter_inc .bd td a{ color:#036; }
.fd_parameter_inc .bd .tj{ padding:0 6px; border:1px solid #036; }

.search_form{ text-align:left; }
form .tj { padding: 0 6px; border: 1px solid #036; }